.format {
  max-width: 1600px;
  margin: 280px auto;
}

.format__title {
  text-align: end;
  width: 100%;
}

.format__box-grid {
  display: grid;
  grid-template-columns:  1fr 29px 2fr;
  grid-template-rows: repeat(auto-fill) ;
  grid-template-areas:
    "box2 line box1"
    "box4 line box3";
    grid-gap: 0 50px;
}

.format__box-content {
  margin: 36px 0 100px;
  display: flex;
  flex-direction: column;

  &:nth-child(1) {
    grid-area: box1;
  }
  &:nth-child(2) {
    grid-area: box2;
    align-items: flex-end;
  }

  &:nth-child(2) > .format__text {
    text-align: end;
    max-width: 380px;
  }

  &:nth-child(2) > .format__image {
    align-self: center;
    transform: rotate(-15deg);
    margin: 0 0 77px;
  }

  &:nth-child(3) {
    width: 100%;
    grid-area: box3;
    position: relative;
  }

  &:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/photographicFilm.png);
    background-repeat: no-repeat;
    background-position: 120% -40%;
    mix-blend-mode: luminosity;

  }

  &:nth-child(1) > .format__text, &:nth-child(3) > .format__text {
    max-width: 412px;
  }

  &:nth-child(1) > .format__inscription, &:nth-child(3) > .format__inscription {
    text-align: center;
    transform: rotate(-13deg);
  }

  &:nth-child(4) {
    grid-area: box4;
  }

  &:nth-child(3) > .format__image {
    max-width: 407.89px;
    max-height: 353.14px;
    transform: rotate(5deg);
    align-self: center;
    margin: 100px 0 0;
  }
}

.format__text  {
  margin: 28px 0;
}

.scroll-line {
  grid-area: line;
}
