.format {
  max-width: 1600px;
  margin: 280px auto;
}

.format__title {
  text-align: end;
  width: 100%;
}

.format__box-grid {
  display: grid;
  grid-template-columns:  1fr 29px 2fr;
  grid-template-rows: repeat(auto-fill) ;
  grid-template-areas:
    "box2 line box1"
    "box4 line box3";
  grid-gap: 0 50px;
  margin: 36px 0 100px;
}

.format__box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &:nth-child(1) {
    grid-area: box1;

    & > .format__image {
      max-width: 600px;
      margin: 132px 0 0;
      align-self: flex-end;
      width: 100%;
    }
  }
  &:nth-child(2) {
    grid-area: box2;
    -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

    & > .format__box-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
    }

    & > .format__image {
      // filter: grayscale(100%);
      align-self: center;
      transform: rotate(-15deg);
      margin: 0 0 77px;
      width: 100%;
      max-width: 600px;

      -webkit-filter:
        grayscale(100%)
        sepia(0.3)
        drop-shadow(-63px -16px 30px rgba(58, 63, 74, 27%))
        drop-shadow(-12px -3px 13px rgba(58, 63, 74, 13%));
      filter:
        grayscale(100%)
        sepia(0.3)
        drop-shadow(-63px -16px 30px rgba(58, 63, 74, 27%))
        drop-shadow(-22px -13px 13px rgba(58, 63, 74, 13%));
    }
  }
  &:nth-child(3) {
    width: 100%;
    grid-area: box3;
    position: relative;
    margin: 135px 0 0;

    & > .format__image {
      width: 100%;
      max-width: 407.89px;
      max-height: 353.14px;
      transform: rotate(5deg);
      align-self: center;
      margin: 100px 0 0;
    }
  }
  &:nth-child(4) {
    grid-area: box4;
    -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
    margin: 50px 0 0;

    & > .format__box-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      margin: 0 0 50px;
    }

    & > .format__image {
      width: 100%;
      max-width: 410px;
      margin: 0 0 128px 0;
      align-self: flex-start;
    }
  }

  &:nth-child(2) > .format__subtitle,
  &:nth-child(4) > .format__subtitle,
  &:nth-child(1) > .format__subtitle,
  &:nth-child(3) > .format__subtitle{
    position: relative;
  }

  &:nth-child(2) > .format__box-text,
  &:nth-child(4) > .format__box-text {
    & > .format__subtitle {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -78px;
        background-image: url(../images/star-1.png);
        width: 29px;
        height: 30.5px;
        z-index: 2;
      }
    }
  }

  &:nth-child(4) > .format__box-text {
    & > .format__subtitle {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -65px;
        width: 1px;
        height: 200px;
        background-color: var(--font-color);
      }
    }
  }

  &:nth-child(1) > .format__subtitle::after,
  &:nth-child(3) > .format__subtitle::after {
    content: '';
    position: absolute;
    top: 0;
    left: -80px;
    background-image: url(../images/star-1.png);
    width: 29px;
    height: 30.5px;
    z-index: 2;
  }

  &:nth-child(2) > .format__text,
  &:nth-child(4) > .format__text {
    text-align: end;
    width: 100%;
    max-width: 380px;
  }

  &:nth-child(1) > .format__text,
  &:nth-child(3) > .format__text {
    width: 100%;
    max-width: 412px;
  }

  &:nth-child(1) > .format__inscription,
  &:nth-child(3) > .format__inscription {
    width: 100%;
    max-width: 200px;
    text-align: center;
    align-self: center;
    transform: rotate(-13deg);
  }
}

@media (max-width: 1203px) {
  .format__box-content {
    &:nth-child(4) > .format__box-text {
      & > .format__subtitle {

        &::before {
          bottom: 30px;
        }
      }
    }
  }
}

.format__certificate {
  border-bottom: 2px solid var(--font-color);
  transition: all 0.5s ease;
  font-weight: 500;

  &:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
  }
}

.format__image-photographic {
  width: 100%;
  max-width: 280px;
  transform: rotate(20deg);
  -webkit-filter:
    grayscale(100%)
    sepia(0.3)
    drop-shadow(-23px 66px 25px rgba(58, 63, 74, 17%))
    drop-shadow(-12px 23px 8px rgba(58, 63, 74, 10%));
  filter:
    grayscale(100%)
    sepia(0.3)
    drop-shadow(-23px 66px 25px rgba(58, 63, 74, 17%))
    drop-shadow(-12px 23px 8px rgba(58, 63, 74, 10%));
}

.format__inscription {
  font-family: 'NinaCTT';
  font-size: 24px;
}



.format__text  {
  margin: 28px 0;
}

.scroll-line {
  grid-area: line;
  position: relative;
  width: 1px;
  height: 70%;
  height: clamp(55rem, 32.9726rem + 45.7711vw, 78rem);
  background-color: var(--font-color);
  margin: 0 auto;
}

@media (max-width: 880px) {
  .scroll-line {
    height: 50%;
  }
}

@media (max-width: 700px) {
  .scroll-line {
    height: 75%;
  }
  .format__box-content {
    &:nth-child(4) > .format__box-text {
      & > .format__subtitle {

        &::before {
          bottom: 20px;
          left: -65px;
        }
      }
    }
  }
}

@media (max-width: 700px ) {
  .format__box-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 29px 2fr;
        grid-template-columns: 29px 2fr;
    grid-template-rows: repeat(auto-fill) ;
    -ms-grid-rows: repeat(auto-fill) ;
    grid-template-areas: "line box1" "line box2" "line box3" "line box4";
    -ms-grid-template-areas: "line box1" "line box2" "line box3" "line box4";
    grid-gap: 0 50px;
    margin: 36px 0 100px;
  }

  .format__box-content {
    &:nth-child(2) {
      -ms-grid-row: box2;
          grid-row: box2;
      align-items: flex-end;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
      margin: 100px 0 0;

      & > .format__box-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        align-items: flex-start;
        text-align: start;
      }

      & > .format__image {
        margin: 100px 0 77px;
      }
    }

    &:nth-child(3) {
      margin: 50px 0 0;
    }

    &:nth-child(4) {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
      margin: 100px 0 0;

      & > .format__box-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        align-items: flex-start;
        text-align: start;
        margin: 70px 0 0;
      }

      & > .format__image {
        margin: 80px 0 128px 0;
      }
    }

    &:nth-child(2) > .format__box-text,
    &:nth-child(4) > .format__box-text {
      & > .format__subtitle {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: -80px;
          background-image: url(../images/star-1.png);
          width: 29px;
          height: 30.5px;
          z-index: 2;
        }
      }
    }
  }
}
