.popup, .popup-img1, .popup-img2{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
  z-index: 21;
  overflow: auto;
}

.popup__hidden{
  opacity: 0;
  visibility: hidden;
}
// overflow_hidden
.popup__overflow, .popup-img1__overflow, .popup-img2__overflow {
  width: 100%;
  height: 100%;
  // backdrop-filter: blur(10px);
  // background-image: url(../images/100-90-8.png);
  // filter: blur(5px);
  // backdrop-filter: blur(0px);
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s ease;
  opacity: 0;
  visibility: hidden;
}

.overflow-active{
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(3px);
  background-image: url(../images/100-90-8.png);
  background-color: rgba(255, 255, 255, 0.849);
}

.popup__box {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 600px;
  z-index: 5;
  position: relative;
  display: flex;
  overflow: auto;
}

.popup-img1__box-img, .popup-img2__box-img {
  // width: 100%;
  height: 80vh;
  width: auto;
  max-width: 1000px;
  max-height: 600px;
  z-index: 5;
  position: relative;
  display: flex;
  padding: 20px;
}

.popup-img1__box-img, .popup-img2__box-img {
  justify-content: center;
}

.popup__box {
  background-color: var(--card-color);
  margin: 0 100px;
  justify-content: space-between;
  border-radius: 20px;
}

.popup__button-close, .popup-img1__button-close, .popup-img2__button-close{
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  background: none;
  border: none;
  right: 0;
  margin: 10px;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color: var(--font-color);
    transition: 0.5s all ease;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.popup-img1__conteiner {
  position: relative;
  padding: 30px;
}

.popup-img1__button-close, .popup-img2__button-close {
  top: -25px;
  right: 0;
}

.popup__image {
  max-width: 600px;
  width: 25vw;
  height: 100%;
  background-image: url(../images/for-popup.jpg);
  background-position: 100%;
  border-radius: 20px 0 0 20px;
}

.popup-img1__image, .popup-img2__image {
  // max-width: 600px;
  // width: 80%;
  background-image: url(../images/for-popup.jpg);
  background-position: 100%;
  border-radius: 20px 0 0 20px;
}

.popup__title {
  font-size: 48px;
  text-align: center;
  max-width: 420px;
}

.popup__form {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & > .appointment__form .appointment__box-input {

    align-items: center;
  }

  & .appointment__button {
    background-color: var(--hover-color);
    margin: 18px auto;
  }
}

@media (max-width: 900px) {
  .popup__title {
    font-size: clamp(1.5rem, 0.6724rem + 4.1379vw, 3rem);
  }

}

@media (max-width: 840px) {
  .popup__image {
    display: none;
  }
}
